<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
{% load static %}

<head>
	<title>E- Tourism With Safe Covid Measures | Contact Us</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Villas Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href=" {% static 'css/bootstrap.css' %} ">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href=" {% static 'css/style.css' %} " type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href=" {% static 'css/font-awesome.min.css' %} " rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href=" {% static '//fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i' %} " rel="stylesheet">
	<link href=" {% static '//fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext' %} " rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
					<!-- logo -->
					<div id="logo">
						<h1><a href=" {% url 'index.html' %} ">E-Tourism</a><i class="fas fa-map-marked-alt"></i></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li><a href=" {% url 'index.html' %} " class="active">Home</a></li>
								{% if request.session.log_id %}
												<li><a href="/logout">Logout</a></li>
								{% else %}

								<li><a href=" {% url 'login.html' %} ">Login</a></li>
								<li><a href=" {% url 'index1.html' %} ">SignUp</a></li>
								{% endif %}
								<li><a href="https://gujcovid19.gujarat.gov.in/" target="_blank"/>Latest Covid Cases</a></li>
								<li><a href=" {% url 'Package.html' %} ">Packages</a></li>
								<li>
									<!-- First Tier Drop Down -->
									<label for="drop-2" class="toggle toogle-2">Services <span class="fa fa-angle-down" aria-hidden="true"></span>
									</label>
									<a href="#">Services <span class="fa fa-angle-down" aria-hidden="true"></span></a>
									<input type="checkbox" id="drop-2" />
									<ul>
										<li><a href=" {% url 'about.html' %} ">About Us</a></li>
										<li><a href=" {% url 'gallery.html' %} " class="drop-text">Gallery</a></li>
										<li><a href=" {% url 'contact.html' %} ">Contact Us</a></li>
										<li><a href=" {% url 'inquiry.html' %} " class="drop-text">Inquiry</a></li>
										<li><a href=" {% url 'index.html' %} " class="drop-text">Blog</a></li>
									</ul>
								</li>


							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</header>
		<!-- //header -->

		<!-- banner -->
		<div class="banner_w3lspvt-2">

		</div>
		<!-- //banner -->
	</div>
	<!-- //main banner -->

	<!-- page details -->
	<div class="breadcrumb-mobamu">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href=" {% url 'index.html' %} ">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">About Us</li>
		</ol>
	</div>
	<!-- //page details -->

	<!-- about -->
	<section class="about py-5" id="about">
		<div class="container py-xl-5 py-lg-3">
			<div class="row py-md-5">
				<div class="col-lg-4 about-left-w3pvt offset-lg-1 mt-lg-4">
					<div class="main-img">
						<img src=" {% static 'images/blog1.jpg' %} " alt="" class="img-fluid pos-aboimg">
						<img src=" {% static 'images/blog2.jpg' %} " alt="" class="img-fluid pos-aboimg2">
					</div>
				</div>
				<div class="col-xl-6 col-lg-7 about-right offset-xl-1">
					<h4 class="sub-tittle-w3layouts let">About Us</h4>
					<h3 class="tittle-w3layouts text-uppercase pr-lg-5 mt-2">Travel with E-Tourism</h3>
					<p class="mt-4 mb-4">“Travel is the main thing you purchase that makes you more extravagant”. We, at our website, swear by this and put stock in satisfying travel dreams that make you perpetually rich constantly.</p>
						<p class="mt-4 mb-4">We have been moving excellent encounters for a considerable length of time through our cutting-edge planned occasion bundles and other fundamental travel administrations. We rouse our clients to carry on with a rich life, brimming with extraordinary travel encounters.</p>
						<p class="mt-4 mb-4">We had made this website by keeping covid cases in mind so that our tourist can travel or explore more places by taking the precautions.</p>
						<p class="mt-4 mb-4">Through our exceptionally curated occasion bundles, we need to take you on an adventure where you personally enjoy the stunning magnificence of America and far-off terrains. We need you to observe sensational scenes that are a long way past your creative ability.</p>
<!-- 					<a href="about.html" class="btn button-style-2 mt-sm-5 mt-4">Read More</a>-->				</div>
			</div>
		</div>
	</section>
	<!-- //about -->

	<!-- middle -->
	<div class="middle py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="welcome-left text-center py-md-5 py-3">
				<h3>Enjoy Your Every Moments With Your Partner In Gujarat's Resort</h3>
				<a href=" {% url 'book.html' %} " class="btn button-style button-style mt-sm-5 mt-4">Book Now</a>
			</div>
		</div>
	</div>
	<!-- //middle -->

	<!-- team -->
	<div class="team text-center py-5" id="team">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle text-center text-bl font-weight-bold">Our Team</h3>
			<p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3"></p>
			<div class="row team-bottom pt-4">
				<div class="col-lg-3 col-sm-6 team-grid">
					<img src=" {% static 'images/p3.jpeg' %} " class="img-fluid" alt="" width="150" height="150">
					<div class="caption">
						<div class="team-text">
							<h4>Priya Bantwa</h4>
						</div>
						<ul>
							<li class="f1">
									<span class="fa fa-facebook"></span>
							</li>
							<li class="f2">
									<span class="fa fa-twitter"></span>
							</li>
							<li class="f3">
									<span class="fa fa-google-plus"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 team-grid mt-sm-0 mt-5">
					<img src=" {% static 'images/p1.jpeg' %} " class="img-fluid" alt="" width="165" height="165">
					<div class="caption">
						<div class="team-text">
							<h4>Harshali Ahir</h4>
						</div>
						<ul>
							<li class="f1">
								<a href="#">
									<span class="fa fa-facebook"></span>
								</a>
							</li>
							<li class="f2">
								<a href="#">
									<span class="fa fa-twitter"></span>
								</a>
							</li>
							<li class="f3">
								<a href="#">
									<span class="fa fa-google-plus"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 team-grid mt-lg-0 mt-5">
					<img src=" {% static 'images/p2.jpeg' %} " class="img-fluid" alt="" width="165" height="165">
					<div class="caption">
						<div class="team-text">
							<h4>Bhakti gajjar</h4>
						</div>
						<ul>
							<li class="f1">
									<span class="fa fa-facebook"></span>
								</a>
							</li>
							<li class="f2">
									<span class="fa fa-twitter"></span>
							</li>
							<li class="f3">
									<span class="fa fa-google-plus"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 team-grid  mt-lg-0 mt-5">
					<img src=" {% static 'images/p4.jpeg' %} " class="img-fluid" alt="" width="150" height="150">
					<div class="caption">
						<div class="team-text">
							<h4>Saloni Dalwadi</h4>
					
						</div>
						<ul>
							<li class="f1">

									<span class="fa fa-facebook"></span>

							</li>
							<li class="f2">

									<span class="fa fa-twitter"></span>

							</li>
							<li class="f3">

									<span class="fa fa-google-plus"></span>

							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->

	<!-- footer -->
	<footer class="py-5">
		<div class="container pt-xl-4">
			<div class="row footer-top">
				<div class="col-lg-4 col-md-6 footer-grid_section_1its">
					<h2 class="logo-2 mb-lg-4 mb-3">
						<a href=" {% url 'index.html' %} " class="text-uppercase text-wh">E-Tourism</a>
					</h2>
					<!-- Map -->
					<div class="map-fo">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3777127.013223454!2d69.07412037446112!3d22.406409439641077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959051f5f0ef795%3A0x861bd887ed54522e!2sGujarat!5e0!3m2!1sen!2sin!4v1637121537326!5m2!1sen!2sin" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>
					<!-- //Map -->
				</div>
				<div class="col-lg-2 col-md-6 footer-grid_section_1its mt-md-0 mt-4">
					<h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Links</h3>
					<ul class="list-unstyled">
						<li class="mb-3">
							<a href=" {% url 'index.html' %} ">Home</a>
						</li>
						<li class="mb-3">
							<a href=" {% url 'about.html' %} ">About Us</a>
						</li>
						<li class="mb-3">
							<a href=" {% url 'gallery.html' %} ">Gallery</a>
						</li>
						<li class="mb-3">
							<a href=" {% url 'index.html' %} ">Services</a>
						</li>
						<li class="mb-3">
							<a href=" {% url 'contact.html' %} ">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
					<h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Contact Info</h3>
					<div class="contact-info">
						<div class="footer-style-w3ls mb-4">
							<h4 class="text-li mb-2">Phone</h4>
							<p>1234567890</p>
						</div>
						<div class="footer-style-w3ls mb-4">
							<h4 class="text-li mb-2">Email </h4>
							<p><a href="mailto:etourismm@gmail.com">etourismm@gmail.com</a></p>
						</div>
						<div class="footer-style-w3ls mb-4">
							<h4 class="text-li mb-2">Location</h4>
							<p>Ahmedabad, Gujarat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">

				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->
	<!-- copyright -->
	<div class="cpy-right text-center py-3">
		<p>© 2021 E Tourism. All rights reserved | Design by
			<a href="http://w3layouts.com"> W3layouts.</a>
		</p>
	</div>
	<!-- //copyright -->

	<!-- move top icon -->
	<a href=" {% url 'index.html' %} " class="move-top text-center"></a>
	<!-- //move top icon -->

</body>

</html>